<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Salary Invoice</title>
    <style>
        /*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 10 version
*/

        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

        * {
            font-family: "Poppins", sans-serif;
            font-style: normal;
            margin: 0;
            padding: 0;
        }

        .flex {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

        .max-w-xl {
            max-width: 700px;
            padding: 20px;
        }

        .justify-center {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        .justify-between {
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

        .items-center {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        .mx-auto {
            margin: 20px auto;
        }

        table {
            margin: 40px 0;
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            border: 1px solid #d6d6d6;
            border-radius: 8px;
        }

        table thead th {
            background: #faf7ff;
            padding: 15px 0;
        }

        table tbody td {
            padding: 15px 50px;
            border: 1px solid #d6d6d6;
        }

        .black {
            color: #0d0f1d;
        }

        .primary-100 {
            color: #6808ff;
        }

        .gray-5 {
            color: #555555;
        }

        .my-4 {
            margin: 20px 0;
        }

        .my-1 {
            margin: 6px 0;
        }

        .my-2 {
            margin: 10px 0;
        }

        .font-sm {
            font-size: 14px;
        }

        .font-lg {
            font-size: 20px;
        }

        .font {
            font-size: 16px;
        }
    </style>
</head>

<body class="max-w-xl mx-auto black">
    <div class="flex justify-between my-4">
        <div>
            <h1 style="font-size: 24px; font-weight: bolder">
                Salary Of Month of February 2021
            </h1>
            <p>Muktadir Hassan</p>
            <p class="gray-5 font-sm my-1">UX UI Designer</p>
            <p class="gray-5 font-sm my-1">Earth Team</p>
            <p class="gray-5 font-sm my-1">Intern</p>
            <p class="gray-5 font-sm my-1">01628002058</p>

            <div class="my-4 gray-5">
                Due Date:
                <span class="black font-sm" style="display: block; font-weight: bolder">17 April, 2018</span>
            </div>
        </div>
        <div>
            <div class="flex">
                <img style="
              margin-left: auto;
              margin-right: 10px;
              margin-top: 10px;
              margin-bottom: 20px;
              width: 70px;
            " src="https://herosapp.nyc3.digitaloceanspaces.com/heroHQ/1635705421101Logo.png" alt="" />
            </div>
            <div>
                <h1 style="font-size: 24px" class="my-2">
                    Programming <span style="font-weight: 400">Hero</span>
                </h1>

                <p class="font-sm gray-5">+8801780-445466</p>
                <p class="font-sm">www.programming-hero.com</p>
            </div>
        </div>
    </div>
    <div>
        <table>
            <thead>
                <th>Description</th>
                <th>Amount</th>
            </thead>
            <tr>
                <td>Net Salary</td>
                <td>37000</td>
            </tr>
            <tr>
                <td>Installment Amount</td>
                <td>37000</td>
            </tr>
            <tr>
                <td>Deductions</td>
                <td>37000</td>
            </tr>
            <tr class="black">
                <td>Total Paid</td>
                <td class="primary-100">37000</td>
            </tr>
        </table>
    </div>
    <div class="my-4 black">
        <h2>Terms & Conditions</h2>
        <p class="font-sm gray-5 my-2">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
        </p>
    </div>
    <div class="my-4">
        <h2 class="black">Thanks for the hardwork</h2>
        <p class="font-sm gray-5">Date of Payment: 05-09-2021</p>
        <p class="font-sm gray-5">Salary type: Advance Salary</p>
        <p class="font-sm gray-5">TrxID: 25G2HF53KL</p>
    </div>
    <footer class="flex justify-between font-sm gray-5">
        <div>www.programming-hero.com</div>
        <div>web@programming-hero.com</div>
        <div>646-888-6885</div>
        <div>Authorize Signature</div>
    </footer>
</body>

</html>