<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <style>
      body { margin:0; padding:0; max-width: 90%; padding: 20px; } .text_color{
      color: blue; }
    </style>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

  </head>
  <body class="container-fluid">
    <div class="d-flex flex-column justify-content-evenly text-center my-4">
      <div class="d-flex justify-content-center mt-5">
        <img
          style="
              margin-top: 0px;
              margin-bottom: 0px;
              width: 35px;
            "
          src="https://herosapp.nyc3.digitaloceanspaces.com/heroHQ/1635705421101Logo.png"
          alt=""
        />
        <h1 style="font-size: 24px" class="my-1 ms-1">
          Programming
          <span style="font-weight: 400">Hero</span>
        </h1>
      </div>
      <div class="mt-4">
        <h1><u>Employee Salary Certificate</u></h1>
      </div>
    </div>
    <div class="mb-3">
      <p class="font-sm lh-base">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit consequat duis enim velit mollit. Exercitation veniam
        consequat sunt nostrud amet sint. Velit officia consequat duis enim
        velit mollit. Exercitation.
      </p>
    </div>
    <div class="mb-3">
      <p class="fw-light my-0">Date</p>
      <h6>04 April, 2022</h6>
    </div>
    <div class="mb-4">
      <table class="table table-bordered">
        <thead>
          <tr class="table-danger">
            <th scope="col">Salary Details</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Net Salary</td>
            <td>37,000</td>
          </tr>
          <tr>
            <td>Installment Amount</td>
            <td>2,000</td>
          </tr>
          <tr>
            <td>Deductions</td>
            <td>1,000</td>
          </tr>
          <tr>
            <td><h6>Total Paid</h6></td>
            <td><h6 class="text_color">34,000 Tk</h6></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="my-4">
      <table class="table table-bordered">
        <thead>
          <tr class="table-danger">
            <th scope="col">Deduction Details</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>States Income tax</td>
            <td>37,000</td>
          </tr>
          <tr>
            <td>Advance Salary</td>
            <td>2,000</td>
          </tr>
          <tr>
            <td><h6>Total Paid</h6></td>
            <td><h6 class="text_color">34,000 Tk</h6></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="">
      <p class="">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit consequat duis enim velit mollit. Exercitation veniam
        consequat sunt nostrud amet sint.
      </p>
    </div>

    <div class="my-5">
      <p class="my-0">------------------</p>
      <h6 class="my-0">Abu Sufian</h6>
      <p class="my-0">Sr. HR Executive</p>
      <p class="my-0">Programming Hero</p>
    </div>
    <footer class="text-center fixed-bottom my-5">
      <div class="d-flex flex-column">
        <div class="my-0">
          <p>Site: www.programming-hero.com | Phone: +880 1308-543768</p>
        </div>
        <div class="">
          <p>Address: 152/1 Mohakhali WirelessGate, Dhaka 1212</p>
        </div>
      </div>
    </footer>
  </body>
</html>